.btn {
  padding: $paddingBtn $paddingBtnLeft;
  border: $btnBorder;
  border-radius: $radiusBtn;
  cursor: pointer;
}

.btn__section,
.btn__form {
  display: block;
  margin: auto;
}

.btn__dark {
  background-color: $blueDark;
  color: $white;
}

.btn__dark:hover {
  background-color: $white;
  border: $btnBorderLight;
  color: $blueDark;
}

.btn__light {
  background-color: $white;
  border: $btnBorderLight;
  color: $blueDark;
}

.btn__light:hover {
  background-color: $blueDark;
  color: $white;
}

@media only screen and (min-width: $mediaQueryMobileMinWidth) {
  .btn__section {
    display: inline;
  }
}
