.svg__border {
  opacity: $opacitySvg;
  fill: none;
}

.svg__border--blue {
  stroke: $blueDark;
}

.svg__border--green {
  stroke: $green;
}

.svg__border--orange {
  stroke: $orangeDark;
}

.svg__border--pink {
  stroke: $pink;
}

.svg__border--yellow {
  stroke: $yellowDark;
}

.svg__fill {
  opacity: $opacitySvg;
}

.svg__fill--blue {
  fill: $blueDark;
}

.svg__fill--green {
  fill: $green;
}

.svg__fill--orange {
  fill: $orangeDark;
}

.svg__fill--pink {
  fill: $pink;
}

.svg__fill--yellow {
  fill: $yellowDark;
}
