body {
  color: $textColor;
  padding: $paddingBody;
  padding-bottom: 0;
  font-family: Poppins;
  background-color: $backgroundColor;
  line-height: $lineHeight;
}

h1 {
  font-size: $fontSizeHeader1Min;
  line-height: $lineHeightHeaders;
  width: 70%;
}

h2 {
  font-size: $fontSizeHeader2Min;
  line-height: $lineHeightHeaders;
}

p,
a {
  font-size: $fontSizeParagraphMin;
}

a {
  font-size: 0.9em;
}

ul {
  margin-left: $marginUndo;

  li {
    list-style: none;

    p {
      margin: 0;
      max-width: 100%;
    }
  }
}

a {
  text-decoration: none;
  color: $textColor;
}

.body--nav {
  overflow: hidden;
}

@media only screen and (min-width: $mediaQueryMobileMinWidth) {
  p,
  a {
    font-size: $fontSizeParagraphMax;
  }

  h1 {
    font-size: $fontSizeHeader1Max;
  }

  h2 {
    font-size: $fontSizeHeader2Max;
  }
}

@media only screen and (min-width: 1920px) {
  .forcemiddle {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }
}
