.help__item {
  display: grid;
  display: -ms-grid;
  grid-template-columns: $gridTemplate2Columns;
  grid-gap: $gridGap;
  padding-bottom: $paddingBottom;
}

.help__item--title {
  text-align: right;
  font-weight: $bold;
  text-transform: uppercase;
}

.help__item--reference {
  color: $linkColor;
  font-weight: $bold;
  font-size: 1em;
}
