.home__main {
  height: 100vh;

  h1 {
    position: relative;
    top: 20%;
  }
}

.home__about {
  height: 100vh;

  h2 {
    text-transform: uppercase;
  }
}

.home__contact {
  height: 100vh;

  h2 {
    text-transform: uppercase;
  }
}

@media only screen and (min-width: $mediaQueryMobileMinWidth) {
  .home__contact {
    ul {
      display: grid;
      grid-template-columns: repeat(2, auto);
    }

    h2 {
      width: 15%;
    }
  }

  .home__about {
    height: 100vh;

    ul {
      display: grid;
      grid-template-columns: repeat(2, auto);
    }

    h2 {
      text-transform: uppercase;
      width: 15%;
    }
  }
}
