.home__main {
  height: 100vh;

  h1 {
    position: relative;
    top: 20%;
  }
}

.home__about {
  height: 100vh;

  h2 {
    text-transform: uppercase;
  }
}

.home__contact {
  height: 100vh;

  h2 {
    text-transform: uppercase;
  }
}

@media only screen and (min-width: $mediaQueryMobileMinWidth) {
  .home__about {
    height: 60vh;

    ul {
      display: grid;
      display: -ms-grid;
      grid-template-columns: $gridTemplate2Columns;
      width: 60%;
      padding: 10em;
    }

    h2 {
      text-transform: uppercase;
      width: 15%;
    }
  }

  .home__contact {
    height: 60vh;

    ul {
      display: grid;
      display: -ms-grid;
      grid-template-columns: $gridTemplate2Columns;
      width: 60%;
      padding: 10em;
      padding-left: 35em;
    }

    h2 {
      width: 15%;
    }
  }
}
