.header__container {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  position: relative;
  z-index: 3;
}

.nav__btn {
  display: block;
  border: none;
  background-color: transparent;
  font-size: 1.5em;
}

.nav__container {
  display: none;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav__container--active {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-direction: column;
  -ms-flex-direction: column;
  position: absolute;
  z-index: 3;
  background-color: $white;
  width: 100%;
  height: 750px;
  justify-content: center;
  align-items: start;
  overflow: hidden;
  font-size: 2em;
  line-height: 2em;
}

.nav__item {
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: $textColor;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__item--logo {
  align-self: center;
}

.nav__item--logo,
.nav__btn {
  position: relative;
  z-index: 5;
}

.nav__item--image {
  display: block;
  width: 4em;
}

@media only screen and (min-width: $mediaQueryNavMinWidth) {
  .nav__btn {
    display: none;
  }

  .nav__container {
    display: flex;
    display: -ms-flexbox;
  }

  .nav__item--active {
    opacity: $opacityNavigation;
  }
}

//Hamburger navigation
svg {
  height: 80px;
  position: absolute;
  width: 80px;
}

.nav__btn__container {
  height: 80px;
  width: 80px;
}

.burger {
  filter: url(#joth);
}

.x {
  transform: scale(0);
  transition: transform 400ms;
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform-origin: 50%;
  transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms,
    transform 500ms 200ms;
}

.x .line {
  stroke-width: 5.5px;
}

.active .line {
  transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms;
}

.active .x {
  transform: scale(1);
  transition: transform 400ms 350ms;
}

.nav__btn__item .x {
  transition: transform 400ms;
}

.nav__btn__item .line {
  transform-origin: 50%;
  transition: transform 400ms 100ms;
}

.active.nav__btn__item .line {
  transition: transform 400ms;
}

.active.nav__btn__item .line1 {
  transform: translateX(18px) translateY(-3px) rotate(-45deg) scale(0.7);
}

.active.nav__btn__item .line2 {
  transform: translateX(-18px) translateY(-3px) rotate(45deg) scale(0.7);
}

.active.nav__btn__item .line3 {
  transform: translateY(0px) rotate(45deg) scale(0.7);
}

.active.nav__btn__item .line4 {
  transform: translateY(0px) rotate(-45deg) scale(0.7);
}

.active.nav__btn__item .line5 {
  transform: translateX(18px) translateY(3px) rotate(45deg) scale(0.7);
}

.active.nav__btn__item .line6 {
  transform: translateX(-18px) translateY(3px) rotate(-45deg) scale(0.7);
}

.active.nav__btn__item .x {
  transition: transform 400ms 100ms;
  transform: scale(1);
}
