.main {
  height: 1500px;
}

.main--questions {
  height: unset;
}

.section__item {
  padding-bottom: 4em;
}

.section__item--worker {
  display: grid;
  display: -ms-grid;
  grid-template-columns: $gridTemplate2Columns;
  grid-template-rows: 30vh;
  height: 400px;
}

.section__image--left {
  grid-column: $gridColumn1to2;
  -ms-grid-column: $gridColumn1to2;
  grid-row: $gridColumn1to2;
  -ms-grid-row: $gridColumn1to2;

  .svg {
    position: relative;
    bottom: 40vh;
    left: -10vw;
  }
}

.section__image--right {
  grid-column: $gridColumn2to3;
  -ms-grid-column: $gridColumn2to3;
  grid-row: $gridColumn1to2;
  -ms-grid-row: $gridColumn1to2;
}

.section__text--left {
  grid-column: $gridColumn2to3;
  -ms-grid-column: $gridColumn2to3;
  grid-row: $gridColumn1to2;
  -ms-grid-row: $gridColumn1to2;
}

.section__image--right {
  grid-column: $gridColumn2to3;
  -ms-grid-column: $gridColumn2to3;
  grid-row: $gridColumn1to2;
  -ms-grid-row: $gridColumn1to2;

  .svg {
    position: relative;
    bottom: 30vh;
    left: 25vw;
  }
}

.section__text--right {
  grid-column: $gridColumn1to2;
  -ms-grid-column: $gridColumn1to2;
}

.section__item__paragraph {
  padding-bottom: 2em;
}

@media only screen and (min-width: $mediaQueryMobileMinWidth) {
  .main {
    height: 1000px;
  }

  .section__info {
    display: grid;
    display: -ms-grid;
    grid-template-columns: $gridTemplate2Columns;
    grid-gap: $gridGap;

    .section__info--title {
      grid-column: $gridColumn1to3;
      -ms-grid-column: $gridColumn1to3;
    }
  }
}

@media only screen and(min-height: $mediaQueryMobileMinWidth) and (min-width: $mediaQueryMobileMinWidth) {
  .main {
    height: 1000px;
  }
}
