.main {
  height: 150vh;
}

.main--questions {
  height: unset;
}

.section__item {
  padding-bottom: 4em;
}

.section__item__paragraph {
  padding-bottom: 2em;
}

@media only screen and (min-width: $mediaQueryMobileMinWidth) {
  .main {
    height: 100vh;
  }

  .section__info {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: $gridGap;

    .section__info--title {
      grid-column: 1 / 3;
      -ms-grid-column: 1 / 3;
    }
  }
}

@media only screen and(min-height: 800px) and (min-width: $mediaQueryMobileMinWidth) {
  .main {
    height: 100vh;
  }
}
