// Font

// Color
$blue: #337b81;
$white: #fcf6ea;
$yellowLight: #f0bf66;
$yellowDark: #e09f19;
$pink: #edb5a9;
$orangeLight: DA7236;
$orangeDark: #d96630;
$red: #b83718;
$green: #447748;

$backgroundColor: $white !default;
$textColor: $blue !default;

// Border

$btnBorder: 2px solid $white;
$btnBorderHover: 2px solid $blue;

// Padding

$paddingBody: 3em;
$paddingBtn: 0.6em;
$paddingBtnLeft: 2em;

// Opacity

$opacityNavigation: 0.6;

// Radius

$radiusBtn: 3em;
