// Font

// Color
$backgroundColor: $white;
$textColor: $blue;

$blue: #337b81;
$white: #fcf6ea;
$yellowLight: #f0bf66;
$yellowDark: #e09f19;
$pink: #edb5a9;
$orangeLight: DA7236;
$orangeDark: #d96630;
$red: #b83718;
$green: #447748;
