// Font

// Color
$blueLight: #64abb1;
$blueDark: #337b81;
$green: #447748;
$grey: #888888;
$orangeLight: #df9d18;
$orangeDark: #d97135;
$pink: #edb5a9;
$redLight: #d97135;
$redDark: #b83718;
$white: #fcf6ea;
$yellowLight: #f6c76a;
$yellowDark: #f0bf66;

$backgroundColor: $white !default;
$textColor: $blueDark !default;
$linkColor: $orangeDark !default;

// Border

$btnBorder: 2px solid $white;
$btnBorderLight: 2px solid $blueDark;
$borderNone: 0 solid $white;

// Grid

$gridGap: 1em;

// Padding

$paddingBody: 4em;
$paddingBtn: 0.6em;
$paddingBtnLeft: 2em;
$paddingInput: 0.6em;
$paddingBottom: 1.6em;

// Margin

$marginUndo: -2.5em;

// Opacity

$opacityNavigation: 0.6;

// Radius

$radiusBtn: 3em;
$radiusInput: 0.5em;

// Text

$lineHeight: 2em;
$lineHeightHeaders: 1.2em;
$fontSizeHeader1: 4em;
$fontSizeHeader2: 3em;
$bold: 700;
