.footer__container {
  max-height: 40vh;
}

.footer__bg {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.footer__bg--svg {
  width: 100%;
  height: 40vh;
}
.footer__bg--circle {
  fill: $orangeDark;
  transform: scale(10, 10);
}

.footer__content {
  display: block;
  position: relative;
  bottom: 25em;
  color: $white;
  width: 100%;
  line-height: 1em;
}

.footer__items {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: $gridGap;
  margin-left: -2.5em;
}

.footer__title {
  text-align: center;
}

.footer__item--left {
  text-align: right;
}

.footer__item--right {
  text-align: left;
}

.footer__item--contact {
  position: relative;
  top: -1.2em;
}

.footer__item--title {
  font-weight: 700;
}

.footer__socials {
  display: grid;
  grid-gap: $gridGap;
  grid-template-columns: repeat(2, auto);
  list-style: none;
}

.footer__socials--fb {
  text-align: right;
}
